.required {
    color: red;
    margin: 0 5px;
}

* {
    font-size: 18px;
    font-weight: 100;
    font-family: "Cambria", serif;
}

div {
    margin: 0 50px;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}

input[type="text"] {
    width: 250px;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(62, 129, 238);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

h1 {
    font-weight: 100;
    font-size: 54px;
}

h2 {
    font-weight: 100;
    font-size: 44px;
}

p {
    font-size: 24px;
    font-weight: 100;
    line-height: 1.5;
}

button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 2px;
    background: rgb(62, 129, 238);
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}

body {
    padding: 50px;
}